<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stijl.css">
</head>
<body>
    <table>
        <tr>
            <th>Combinaties</th> 
            <td>student_0</td>
            <td>student_1</td>
            <td>student_2</td>
        </tr>
        
        <tr>
            <th>student_0</th>
            <td>/</td>
            <td>['zelfde alinea']</td>
            <td>['Plagiaatvrij']</td>
        </tr>
        
        <tr>
            <th>student_1</th>
            <td>['zelfde alinea']</td>
            <td>/</td>
            <td>['zelfde bronnen', 'zelfde titel']</td>
        </tr>
        
        <tr>
            <th>student_2</th>
            <td>['Plagiaatvrij']</td>
            <td>['zelfde bronnen', 'zelfde titel']</td>
            <td>/</td>
        </tr>
        
    </table>
</body>
</html>