<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stijl.css">
</head>
<body>
    <table>
        <tr>
            <th>Combinaties</th> 
            {% for student in studenten %}
            <td>{{student}}</td>
            {% endfor %}
        </tr>
        {% for student in studenten %}
        <tr>
            <th>{{student}}</th>
            <td>{{studenten.get(student).get("student_0", "Not Found")}}</td>
            <td>{{studenten.get(student).get("student_1", "Not Found")}}</td>
            <td>{{studenten.get(student).get("student_2", "Not Found")}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>